# Python / notebooks
__pycache__/
.ipynb_checkpoints/

# Environments / IDE
.venv/
env/
.conda/
.vscode/

# Datos pesados (mantén solo sample si querés)
data/raw/*
!data/raw/sample.laz

data/processed/*
notebooks/data/raw/*
notebooks/data/processed/*
notebooks/figures/*

# Otros
*.log
*.tmp
*.DS_Store

